:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    /* background: var(--background); */
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: black;
    /* background: url(/assets/mt.st.helens.JPG) no-repeat center center/ cover; */
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    background: url(/assets/mt.st.helens.JPG) no-repeat center center/ cover;
}

h1 {
    background: none;
    margin: 0px auto 20px auto;
    width: 20%;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border: 2px black solid;
    opacity: 0.8;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    width: 50%;
    margin: auto;
    background-color: rgba(168, 168, 168, 0.9);
    padding: 20px;
    border-radius: 15px;
}

ul {
    list-style-type: circle;
    margin: auto;
    background-color: rgba(168, 168, 168, 0.75);
    padding: 20px 20px 20px 40px;
    border-radius: 15px;
}

img {
    width: 500px;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    /* background-color: var(--footer-background); */
    background-color: black;
}
